.Fees {
  @import '../../scss/bootstrap';

  height: 100vh;

  &__nav {
    position: fixed;
    height: 20vh;
    overflow-y: hidden;
    width: 100%;
  }

  &__avatar {
    border-radius: 50%;
    height: 38px;
    width: 38px;

    @include media-breakpoint-up(sm) {
      height: 50px;
      width: 50px;
    }
  }

  &__avatarHeading {
    font-family: 'Montserrat-SemiBold';
    font-size: $spacer * 0.75;

    @include media-breakpoint-up(sm) {
      font-size: $spacer * 0.875;
    }
  }

  &__onlineIcon {
    transform: scale(0.5);
    color: $dialerBlack;
  }

  &__avatarStatus {
    font-family: 'Montserrat-Light';
    font-size: $spacer * 0.625;
    @include media-breakpoint-up(sm) {
      font-size: $spacer * 0.725;
    }
  }

  &__navStatus {
    font-family: $semiBold;
    font-size: $spacer * 0.75;
    line-height: 15px;
    color: $dashboardBlack;

    @include media-breakpoint-up(sm) {
      font-size: $spacer * 0.85;
    }
  }
  &_navStatusContainer {
    width: 100%;
    position: fixed;
    z-index: 10000;

    @include media-breakpoint-up(sm) {
      width: 75%;
      margin: auto;
      left: 13%;
    }
  }

  &__navStatus > span {
    color: $strongRed;
  }

  &__overlay {
    position: fixed;
    //   margin-top: $spacer * 5;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 95vh;
    background-color: $white;
    overflow: scroll;
    box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.16);
    padding-bottom: $spacer * 12.5;
    margin-top: 3.5rem;
    @include media-breakpoint-up(sm) {
      width: 75%;
      left: 13%;
    }
  }

  &__feeCard {
    border-radius: 5px;
    position: relative;
    height: $spacer * 9.375;
    border: 1px solid $dashboardGreyLight;
    width: $spacer * 14.375;
    background: rgba(26, 255, 0, 0.1);
    background: linear-gradient(90deg, rgba(26, 255, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);

    @include media-breakpoint-up(sm) {
      width: 45%;
    }
  }

  &__cardFooter {
    position: absolute;
    bottom: 0;
    background-color: $white;
    border-top: 1px solid $dashboardGreyLight;
    font-size: $spacer * 0.75;
    color: $dashboardBlack;
    font-family: $regular;
  }

  &__paidAt {
    font-size: $spacer * 0.75;
    color: $dashboardBlack;
    font-family: $regular;
  }

  &__paidAt::first-letter {
    text-transform: capitalize;
  }

  &__status {
    font-size: $spacer * 1.5;
    line-height: 29px;
    font-family: $bold;
    opacity: 0.26;
  }

  &__cardGreen {
    background: rgba(26, 255, 0, 0.1);
    background: linear-gradient(90deg, rgba(26, 255, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  }

  &__cardGreen > h1 {
    color: $feesGreen;
  }

  &__cardRed {
    background: rgba(255, 49, 49, 0.1);
    background: linear-gradient(89deg, rgba(255, 49, 49, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  }

  &__cardRed > h1 {
    color: $strongRed;
    opacity: 0.26;
  }

  &__amount {
    font-size: $spacer;
    line-height: 19px;
    color: $black;
    font-family: $regular;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 12%;
    box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.16);
    background-color: $white;
  }

  &__teacher {
    font-size: $spacer * 0.625;
    font-family: $regular;
    color: $dashboardBlack;
  }

  &__planInfoHeading {
    font-size: $spacer * 0.625;
    font-family: $bold;
    color: $dashboardBlack;
  }

  &__planInfoDetails {
    font-size: $spacer * 0.625;
    color: var(--primary-blue);
    font-family: $regular;
  }

  &__planInfoTotal {
    font-size: $spacer * 0.825;
    color: $dashboardBlack;
    font-family: $semiBold;
  }

  &__planInfoTotalFees {
    font-size: $spacer * 0.825;
    color: var(--primary-blue);
    font-family: $semiBold;
  }

  &__orderAmount {
    font-family: $bold;
  }

  &__orderDescription {
    font-family: $regular;
  }

  &__orderStatus {
    font-family: $semiBold;
    font-size: $spacer * 1.25;
  }

  &__orderRed {
    color: $strongRed;
  }

  &__orderGreen {
    color: $feesGreen;
  }

  &__orderDetailHeading {
    font-family: $semiBold;
    font-size: $spacer * 1;
  }

  &__orderSummary {
    font-family: $semiBold;
    color: $dashboardGrey;
    font-size: $spacer * 0.75;

    @include media-breakpoint-up(sm){
      font-size: $spacer*0.85;
    }
  }

  &__receivedAmount {
    font-family: $medium;
    font-size: $spacer * 0.875;
    line-height: 20px;
    color: $lightGrey;

    @include media-breakpoint-up(sm){
      font-size: $spacer*1;
    }
  }

  &__studentsPay {
    font-family: $medium;
    font-size: $spacer * 0.625;
    line-height: 13px;
    color: $headingGrey;
    margin-bottom: 0px;
    @include media-breakpoint-up(sm){
      font-size: $spacer*0.75;
    }
  }

  &__datePicker > div {
    width: 100%;
  }

  &__smallNotification {
    color: $lightGrey;
    font-family: $medium;
    line-height: 13px;
    font-size: $spacer * 0.650;
  }
  &__PayButton {
    @include media-breakpoint-up(sm) {
      width: 25%;
    }
  }

  &__orderDetailsContainer {
    width: 75%;
    margin: auto;

    @include media-breakpoint-down(sm) {
      width: 90%;
    }
  }

  &__batchesTeacher{
    width: 75%;
    margin: auto;
    margin-bottom: 0.5rem;

    @include media-breakpoint-down(sm){
      width:95%;
    }
  }

  &__progressBar{
    width: 75%;
    margin: auto;
    margin-bottom: 0.5rem;

    @include media-breakpoint-down(sm){
      width:90%;
    }
  }
  &__twoButtons{
    width: 120px;
    @include media-breakpoint-up(sm){
      width: 300px;;
    }
  }
  &__twoButtonstext{
    font-size: $spacer*1;
    @include media-breakpoint-down(sm){
      font-size: $spacer*0.625;
    }
  }
  &__userDetails{
    width: 75%;
    margin: auto;
    margin-top: 4rem;
    @include media-breakpoint-down(sm){
      width: 95%;
    }
  }
  &__carouselCard{
    width: 60%;
    height: 170px;
    @include media-breakpoint-down(sm){
      width: 90%;
      height: 140px;
    }
  }
  &__carouselIcon{
    @include media-breakpoint-up(sm){
      width: 200px;
    }
  }
  &__carouselText{
    @include media-breakpoint-up(sm){
      position: relative;
      right: 11%;
    }
  }
  &__TwobuttonsRow{
    justify-content: space-evenly;

    @include media-breakpoint-up(sm){
      justify-content: space-evenly;

    }
  }
  &__plansContainer{
    width: 75%;
    margin:auto;

    @include media-breakpoint-down(sm){
      width: 95%;
    }
  }
  &__plansContainer::-webkit-scrollbar{
    display: none;
  }
  &__datePickerCol{
    text-align: center;
    @include media-breakpoint-down(sm){
      text-align: left;
    }
  }
  &__planAmount{
   left:20%;
   @include media-breakpoint-down(sm){
     left:0;
   }
  }
}

.vertical-timeline::before {
  background-color: rgba(0, 0, 0, 0.06);
}

.vertical-timeline-element-icon,
.bounce-in {
  box-shadow: 0px 0px transparent;
  text-align: center;
}

/*
Selects the label following the radio checkbox that
was checked
*/
[name='feePlan']:checked + label {
  background-color: var(--primary-blue);
  color: #fff;
}

[name='feePlan'] + label {
  border-radius: 5px;
  font-family: 'Montserrat-Medium';
  font-size: 0.875rem;
  padding: 5px;
  margin: 3px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  width: 100%;
}

/*
Changes styles for the label following the radio checkbox that has focus

- click the viewable area and press tab or press a radio button
- use the arrow keys to change the selected radio button
*/
[name='feePlan']:focus + label {
  border: 1px solid var(--primary-blue);
}

[name='feePlan'] {
  position: fixed;
  opacity: 0;
}

.feeNav {
  justify-content: center;
  border-radius: 5px;
}

.feeNav .nav-link {
  border: 1px solid var(--primary-blue);
  width: 125px;
  height: 30px;
  font-size: 14px;
  line-height: 12px;
  font-family: 'Montserrat-Regular';
  color: var(--primary-blue);
  text-align: center;
  border-radius: 0 5px 5px 0;
}

.feeNav .active {
  color: #fff;
  background-color: var(--primary-blue);
}

.nav-link:first-child {
  border-radius: 5px 0 0 5px;
}

.react-datepicker-popper {
  z-index: 999;
}
.Fees__overlay::-webkit-scrollbar {
  display: none;
}
