.cashfreeBtn {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: transparent;
  cursor: pointer;
  color: white;
  color: var(--primary-blue);
  font-family: 'Montserrat-Bold';
}

@media screen and (max-width: 800px) {
  .cashfreeBtn {
    padding: 7px 24px;
  }
}
