.cashfreeBtn {
  display: flex;
  align-items: center;
  padding: 7px 5em;
  background-color: var(--primary-blue);
  border-radius: 100px;
  width: 100%;
  outline: none;
  border: transparent;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat-Regular';
}

@media screen and (max-width: 800px) {
  .cashfreeBtn {
    padding: 7px 24px;
  }
}
