.Analysis {
  @import '../../scss/bootstrap';

  &__bigNumbers {
    font-family: $semiBold;
    color: $lightGrey;
    font-size: $spacer * 1.5;
  }

  &__card{
    width: 75%;
    margin:auto;
    margin-top: 1rem;
    @include media-breakpoint-down(sm){
      width: 90%;
    }
  }

  &__cardLabel {
    font-family: $medium;
    color: $lightGrey;
    font-size: $spacer * 0.625;
  }

  &__studentHeading {
    font-family: $semiBold;
    color: $lightGrey;
    font-size: $spacer * 1.5;
  }

  &__studentSubHeading {
    font-family: $semiBold;
    font-size: $spacer;
    text-transform: capitalize;
  }

  &__studentMarks {
    font-family: $medium;
    color: $primaryBlue;
    font-size: $spacer * 1.25;
  }

  &__noOfStudents {
    font-family: $regular;
    color: $dashboardBlack;
    font-size: $spacer * 0.875;
  }

  &__tableHeading {
    font-family: $bold;
    font-size: $spacer * 0.625;
    color: $dashboardBlack;
  }

  &__tableData {
    font-family: $regular;
    font-size: $spacer * 0.625;
    color: $dashboardBlack;
  }

  &__present {
    background-color: rgba(58, 255, 0, 0.87) !important;
    border-radius: 50%;
    color: #fff;
  }

  &__leave {
    background-color: rgba(112, 112, 112, 1) !important;
    border-radius: 50%;
    color: #fff;
  }

  &__absent {
    background-color: rgba(255, 0, 0, 0.87) !important;
    border-radius: 50%;
    color: #fff;
  }

  &__testCardBigHeading {
    font-family: $bold;
    color: $lightGrey;
    font-size: $spacer * 1.2;
  }

  &__testCardHeading {
    font-family: $semiBold;
    color: $lightGrey;
    font-size: $spacer * 0.625;
  }

  &__testCardDetails {
    font-family: $medium;
    color: $dashboardBlack;
    font-size: $spacer * 0.875;
  }

  &__Buttons{
    width: 240px;
    height: 60px;

    @include media-breakpoint-down(md){
      width: 150px;
    }
 
     @include media-breakpoint-down(sm){
       width: 70px;
     }
  }
}
