.PhoneNo {
  @import '../../../scss/bootstrap';

  &__text {
    color: $headingGrey;
    font-size: 14px;
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }

  &__engText {
    font-family: 'Montserrat-Regular';
  }

  &__hinText {
    font-family: 'MartelSans-Regular';
  }

  &__passText {
    font-size: $spacer * 1.25;
    font-family: 'Montserrat-Medium';
    color: $headingGrey;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 2;
    }
  }

  &__input {
    width: 90%;
    @include media-breakpoint-up(md) {
      width: 75%;
    }
  }

  &__show {
    position: absolute;
    top: 15%;
    right: 5%;
  }
}
