.PhoneNo {
  @import '../../../scss/bootstrap';

  &__text {
    color: #000000de;
    font-size: 14px;
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }

  &__engText {
    font-family: 'Montserrat-Regular';
  }

  &__hinText {
    font-family: 'MartelSans-Regular';
  }

  &__input {
    width: 90%;
    @include media-breakpoint-up(md) {
      width: 75%;
    }
  }
}
