.Display {
  @import '../../scss/bootstrap';

  &__details {
    font-size: $spacer * 0.75;
    line-height: 15px;
    color: 'rgba(22, 22, 22, 1)';
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: $medium;
    padding-bottom: 5px;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 0.85;
    }
  }

  &__name {
    font-family: $regular;
    font-size: $spacer * 0.625;
    line-height: 13px;
    color: rgba(22, 22, 22, 1);
    text-transform: capitalize;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 0.75;
    }
  }
}

.testimonialVideoTag {
  width: 450px !important;
  height: auto !important;
}

.displayCardModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .testimonialVideoTag {
    width: 300px !important;
    height: auto !important;
  }
}

@media screen and (max-width: 300px) {
  .testimonialVideoTag {
    width: 220px !important;
    height: auto !important;
  }
}

.Display .btn-courseBlueOnWhite {
  width: 75%;
}
@media (max-width: 768px) {
  .Display .btn-courseBlueOnWhite {
    width: 90%;
  }
}
