.Scrollable {
  @import '../../../scss/bootstrap';

  &__card {
    background-color: #fff;
    min-width: 100%;
    min-height: 200px;
    display: flex;
    overflow-x: auto;
  }

  &__cardContent {
    min-width: 150px;
    margin: 5px;

    @include media-breakpoint-up(md) {
      min-width: 200px;
    }
  }

  &__aspectCardContent {
    min-width: 200px;
    height: 113px;
    border-radius: 5px;
  }

  &__aspectCardBig {
    min-width: 315px;
    height: 177px;
  }

  &__card::-webkit-scrollbar {
    display: none;
  }

  &__image {
    height: 60px;
    width: 60px;
    border-radius: 50px;
  }

  &__cardHeading {
    font-family: 'Montserrat-Regular';
    font-weight: 700;
    color: $lightGrey;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 1.5;
    }
  }

  &__cardSubHeading {
    font-family: 'Montserrat-Regular';
    font-size: $spacer * 0.75;
    color: $lightGrey;

    @include media-breakpoint-up(md) {
      font-size: $spacer;
    }
  }

  &__cardFlex{
    flex-direction: row-reverse;
    min-height: 113px;

    @include media-breakpoint-up(md){
      flex-direction: row;
    }
  }

  /****************************Course Cards**********/

  &__courseCardContent {
    min-width: 180px;
    margin: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  }

  &__courseImage {
    max-width: 100%;
    width: 180px;
    height: 150px;
    object-fit: cover;
  }

  &__coursesInitialHeading {
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 999;
    color: $headingGrey;
    font-family: $bold;
  }

  &__blurCourseImage {
    filter: blur(3px);
  }

  &__smallText {
    color: $white;
    font-size: $spacer * 0.625;
    font-family: $regular;
    line-height: 13px;
  }

  &__courseCardHeading {
    font-size: $spacer * 0.75;
    font-family: $semiBold;
    color: $headingGrey;
    line-height: 15px;
    text-align: left;
  }

  &__courseCardSubHeading {
    font-size: $spacer * 0.625;
    font-family: $regular;
    color: $lightGrey;
    line-height: 13px;
    text-align: left;
  }

  &__emoji {
    width: $spacer * 0.5;
    height: $spacer * 0.5;
    color: $dirtyYellow;
  }

  &__bestSeller {
    background-color: $dirtyYellow;
    text-align: left;
    border-radius: 2px;
    font-size: $spacer * 0.5;
    line-height: 11px;
    color: $headingGrey;
    font-family: $bold;
    width: 30%;
  }

  &__viewAll {
    font-size: $spacer * 1.5;
    font-family: $medium;
    letter-spacing: 2px;
    line-height: 28px;
  }

  /****************Fee Cards*****************/

  &__recentlyUsed {
    font-size: $spacer * 0.875;
    line-height: 20px;
    color: $headingGrey;
    font-family: $semiBold;
  }

  &__feeCardContent {
    min-width: 116px;
    margin: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  }

  &__feecardHeading {
    font-size: $spacer * 0.625;
    line-height: 15px;
    color: $dashboardBlack;
    font-family: $semiBold;
  }

  /*****************************Analysis Cards**********************************/

  &__analysisHeading {
    border-left: 1px solid $primaryBlue;
    border-bottom: 1px solid $primaryBlue;
    border-top: 1px solid $primaryBlue;
    height: 20%;
    border-radius: 10px 0 0 10px;
    font-size: $spacer * 0.625;
    font-family: $medium;
  }

  &__analysisValue {
    border: 1px solid $primaryBlue;
    height: 30%;
    width: 30%;
    border-radius: 5px;
    font-family: $regular;
    color: $lightGrey;
    font-size: $spacer * 1.5;
  }
}
