.Homework {
  @import '../../scss/bootstrap';

  &__carousel .carousel-root .carousel .control-dots {
    position: fixed;
    top: 6%;
    height: 7vh;
    background-color: white;
  }

  &__carousel .carousel-root .carousel .slider-wrapper ul li {
    background: transparent;
  }

  &__desktopViewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin: auto;
  }

  &__plainWhiteButton {
    border-radius: 10px;
    border: 1px solid #0505058b;
    color: var(--primary-blue);
    cursor: pointer;
    text-align: center;
    font-family: $regular;
    margin: auto;
    padding: 3px 4px;
    font-size: 14px;
  }

  &__selectCard {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    position: relative;
    min-width: 33%;
    transition-duration: 0.3s;
  }

  &__smallHeading {
    font-size: $spacer * 0.75;
    font-family: $regular;
    line-height: 15px;
    color: $dashboardBlack;
  }

  &__scrollable {
    background-color: #fff;
    min-width: 100%;
    min-height: 40px;
    display: flex;
    overflow-x: auto;
  }

  &__scrollable::-webkit-scrollbar {
    display: none;
  }

  &__questionBubble {
    min-width: 40px;
    min-height: 40px;
    margin: 5px;
    font-size: $spacer * 0.875;
    font-family: $regular;
    color: $white;
    background-color: var(--lighter-blue);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(md) {
      min-width: 50px;
    }
  }

  &__subjectBubble {
    min-width: 120px;
    min-height: 30px;
    margin: 5px;
    font-size: $spacer * 0.875;
    font-family: $regular;
    border-radius: 50px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(md) {
      min-width: 50px;
    }
  }

  &__selected {
    background-color: var(--lighter-blue);
    color: $white;
    min-width: max-content;
  }

  &__unselected {
    color: $dashboardBlack;
    min-width: max-content;
    background-color: $white;
    border: 1px solid $dashboardGrey;
  }

  &__stepPlaceHolder {
    font-family: $semiBold;
  }

  &__dueDate {
    font-family: $regular;
    font-size: $spacer * 0.675;
    color: $dashboardBlack;
  }
  /*******Question.js******/
  &__edit {
    width: 46px;
    height: 25px;
    border-radius: 20px 0 0 20px;
    background-color: $lightestBlue;
  }

  &__questionHeading {
    font-size: $spacer * 0.875;
    font-family: $regular;
    color: $headingGrey;
    line-height: $spacer * 1.25;
    white-space: pre-line;
  }

  &__options {
    font-size: $spacer * 0.875;
    font-family: $medium;
    color: $lightGrey;
    line-height: $spacer * 1.25;
  }

  &__multipleOptions {
    font-size: $spacer * 0.875;
    font-family: $regular;
    color: $lightGrey;
    line-height: $spacer * 1.25;
  }

  &__questionIndex {
    font-family: $medium;
    font-size: $spacer * 0.875;
    line-height: $spacer * 1.25;
    color: $headingGrey;
  }

  &__questionType {
    font-size: $spacer * 0.625;
    font-family: $medium;
    line-height: $spacer * 1.25;
    color: $lightGrey;
  }

  /**************************/

  &__ckQuestion {
    font-size: $spacer * 0.875;
    font-family: $medium;
    color: $disabledGrey;
  }

  &__ckAttach {
    background-color: $lightestGrey;
    color: $disabledGrey;
    border-radius: 50px;
    height: 1.5 * $spacer;
    width: 1.5 * $spacer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__vl {
    border-left: .1px solid gray;
    height: inherit;
  
  }

  &__inlineEditor {
    display: flex;
  }

  &__inlineEditor .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
    border-color: #c4c4c4;
  }

  &__inlineEditor .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners p {
    margin: 0;
    font-family: $medium;
    font-size: $spacer * 0.875;
  }

  /************************/
  &__preview {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
  }

  &__previewHeading {
    font-family: 'Montserrat-Bold';
    font-size: 14px;
  }

  &__previewText {
    font-family: $regular;
  }

  &__finalSection {
    font-family: $medium;
    line-height: 19px;
    font-size: $spacer;
    color: #000;
  }

  &__finalSectionSmall {
    font-family: $medium;
    font-size: $spacer * 0.625;
    line-height: 20px;
    color: $lightGrey;
  }

  &__markingPrompt {
    font-size: $spacer * 0.75;
    line-height: 15px;
    font-family: $regular;
    color: $lightGrey;
  }

  &__markingHeading {
    font-size: $spacer;
    font-family: $semiBold;
    color: $lightGrey;
    line-height: 28px;
    letter-spacing: 0.49px;
  }

  &__questionImg {
    max-width: 400px;
    max-height: 400px;

    @include media-breakpoint-down(md) {
      max-width: 300px;
      max-height: 300px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 280px;
      max-height: 280px;
    }
  }
  &__questionImgContainer {
    text-align: center;
  }

  &__modalButton {
    background-color: white;
    border: transparent;
    outline: none;
    font-family: 'Montserrat-Regular';
    margin: 7px 0px;
    cursor: pointer;
  }

  &__modalDiv {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    margin: 20px 0px;
    // cursor: pointer;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

[name='selectAll'] {
  height: 20px;
  width: 20px;
  margin-right: 2px;
}

[name='option'] {
  height: 18px;
  width: 18px;
}

[name='selectAll'] + label {
  font-family: 'Montserrat-Medium';
  font-size: 0.875rem;
  width: 100%;
  color: var(--primary-blue);
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

#react-mathjax-preview > .react-mathjax-preview-result > img {
  width: 90px;
  height: 90px;
}

.fixedPosition {
  position: fixed;
  width: 95%;

  background-color: white;
  height: fit-content;
  z-index: 1000;
}
.experiment {
  position: relative;
}
.viewOnlyBtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 97%;
}
.onlyOnMobile {
  display: flex;
}
@media screen and (max-width: 575px) {
  .viewOnlyBtnContainer {
    justify-content: center;
  }
}
@media screen and (min-width: 575px) {
  .onlyOnMobile {
    display: none;
  }
  .Homework__selectCard {
    margin-top: 40px;
  }
}

.hideOnDesktopHWC {
  cursor: pointer; // just to assign some css
}

.mobileMargin {
  margin-right: 2px;
  margin-left: 2px;
  max-height: 760px;
  overflow-y: auto;
}

.mobileMargin::-webkit-scrollbar {
  display: none;
}

.desktopPreviewContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

.hideOnDesktopHW {
  cursor: default;
}

.hideOnMobileHW {
  cursor: default;
}

// .showOnMobileHW {
//   cursor: default;
// }

// .showOnDesktopHW {
//   cursor: default;
// }

.prvm-0 {
  margin-top: 15px !important;
}

@media screen and (min-width: 775px) {
  .hideOnDesktopHW {
    display: none !important;
  }
  .prvm-0 {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 775px) {
  .hideOnDesktopHWC {
    display: none !important;
  }
  .hideOnMobileHW {
    display: none !important;
  }
  .desktopPreviewContainer {
    display: none;
  }
  .mobileMargin {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.attachementContainer {
  background-color: transparent;
  border-left: transparent;
  border-radius: 0px;
  display: flex;
  border-radius: 0px 4px 4px 0px;
}

.questionTextarea {
  width: 90%;
  outline: none;
  border: transparent;
  font-family: 'Montserrat-Regular';
  padding: 10px;
}

.questionTextarea::placeholder {
  color: rgba(128, 128, 128, 0.397);
}

.questionUpperC {
  width: 90%;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.281);
  border-radius: 4px;
}

.optionUpperC {
  width: 90%;
  padding: 5px 10px;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.281);
  border-radius: 4px;
}

.optionsInput {
  width: 100%;
  border: transparent;
  outline: none;
  font-family: 'Montserrat-Regular';
}

.optionsInput::placeholder {
  color: rgba(128, 128, 128, 0.397);
}

.Homework__carousel ul {
  list-style: none;
  padding-left: 0px;
}

.leftRighticons {
  border-radius: 100px;
  width: 23px;
  height: 23px;
  background-color: var(--lighter-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftRighticons svg {
  color: white;
  width: 20px;
}

.createNewModalInputs {
  width: 90%;
  margin: 5px auto;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.349);
  outline: rgba(128, 128, 128, 0.349);
  padding: 5px;
  font-family: 'Montserrat-Medium';
}

.createNewModalInputs::placeholder {
  font-family: 'Montserrat-Regular';
  color: rgba(128, 128, 128, 0.349);
}

.Homework__selectCard::-webkit-scrollbar {
  display: none;
}

.desktopHeadingsDiv p {
  font-size: 14px;
  font-family: 'Montserrat-Bold';
}

.addBtnHW:disabled {
  background-color: gray;
}

.compressed {
  // max-width: 10% !important;
  min-width: 4% !important;
  transition-duration: 0.3s;
}

.expanded {
  min-width: 48% !important;
  transition-duration: 0.3s;
}

.addMoreOptionsBtn {
  border: 1px solid rgba(169, 169, 169, 0.445);
  background-color: transparent;
  border-radius: 5px;
  color: var(--primary-blue);
  outline: none;
  cursor: pointer;
  // padding-left: 15px;
  // padding: 8px;
  font-family: 'Montserrat-Regular';
  margin-left: 23px;
  font-size: 15px;
}

.removeOptionBtn {
  padding: 0px 7px;
  background-color: var(--primary-blue);
  border-radius: 100%;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-family: 'Montserrat-Bold';
  // border: 1px solid rgba(169, 169, 169, 0.445);
}

.finalQuestionImageClass {
  max-width: 80%;
  max-height: 100px;
  margin: 20px 0px;
}

.cantSelect {
  user-select: none;
}