.Card {
  width: 100%;

  background-color: aliceblue;
}

.overlay {
  position: fixed;
  margin-top: 60px;
  left: 0;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 70px) !important;
  background-color: white;
  overflow-y: scroll;
  box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 20px 20px 0 0;
  padding-bottom: 20px;
  transition-duration: 0.3s;
}

.batchesText {
  font-family: 'Montserrat-Regular';
  margin-left: 15px;
  color: #707070;
  font-size: 14px;
  margin-bottom: 0px;
}

.horizontalLineVID {
  border-top: 6px solid rgba(0, 0, 0, 0.1);
  width: 30%;
  /* position: fixed; */
}

.paddingForText {
  padding: 20px !important;
}

.videosCard {
  overflow: hidden;
}

@media (max-width: 768px) {
  .horizontalLineVID {
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    width: 25%;
  }

  .paddingForText {
    padding: 5px !important;
  }
}

.thumbnailImage {
  max-height: 239px !important;
  cursor: pointer;
}

.filterBtns {
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 100px;
  font-family: 'Montserrat-Regular';
  max-height: 35px;
  color: #707070;
  font-size: 14px;
  margin: 5px;
  min-width: fit-content;
  padding: 2px 7px;
}

.selectedBtns {
  background-color: white;
  outline: none;
  border: 1px solid transparent;
  border-radius: 100px;
  font-family: 'Montserrat-Regular';
  max-height: 35px;
  color: #000;
  font-size: 14px;
  margin: 5px;
  min-width: fit-content;
  padding: 2px 7px;
}

.scroller {
  margin-left: 10px;
}

.scroller::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 767px) {
  .Card {
    width: 85%;
    height: 120px !important;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .videosCard {
    height: 85%;
    text-align: start;
  }
  .ppp {
    padding: 4px;
  }
  .thumbnailImage {
    height: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 990px) {
  .Card {
    width: 60%;
    height: 120px !important;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .videosCard {
    width: 85%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .ppp {
    padding: 4px;
  }
  .thumbnailImage {
    max-height: 118px !important;
  }
}

@media screen and (max-width: 600px) {
  .videosCard {
    width: 90%;
    max-height: 107px;
  }
}

@media screen and (min-width: 1440px) {
  /* .overlay {
    height: calc(93vh - 60px) !important;
  } */
}
