.Preloader {
  @import '../../../scss/bootstrap';

  width: 90%;
  @include media-breakpoint-down(md) {
    width: 75%;
  }

  &__hello {
    color: $grey;
    line-height: $spacer * 1.5;
  }
}

.Login__jumbo {
  width: 214px;
  height: auto;
  border-radius: 10px;
  margin: 0px auto;
}

.Preloader__brand {
  color: var(--primary-blue);
  font-size: 35px;
  letter-spacing: 0px;
  font-family: 'Montserrat-Medium';
}
@media screen and (min-width: 800px) {
  .Login {
    margin-top: 30px !important;
  }
}

.deskWidth {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .deskWidth {
    width: 25%;
  }
}

