.container {
  width: 100%;
  /* margin: 2px; */
}
.divContainer {
  width: 100%;
  /* background-color: blue; */
  display: table;
}
.tabs {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
.nav-item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noMatch {
  margin: 10px 5px;
}
.livetestImg {
  margin-bottom: 10px;
}
