:root {
  --primary-blue: rgba(38, 153, 251, 1);
  --lighter-blue: rgba(127, 196, 253, 1);
  --lightest-blue: rgba(188, 224, 253, 1);
  --superlight-blue: rgba(241, 249, 255, 1);
}
:focus {outline:0 !important;}

// .rootContainer {
//   @import '../scss/bootstrap';

//   @include media-breakpoint-up(lg) {
//     width: 60%;
//   }
// }
