* {
  font-family: 'Montserrat-Regular';
}
.OFAForm {
  @import '../../scss/bootstrap';

  &__container {
    margin-top: 70px;
  }
  &__form {
    display: block;
    width: 100%;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat-Medium';
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: max-content;
    font-family: 'Montserrat-medium';
    transition-duration: 0.2s;
  }

  &__button:hover {
    background-color: var(--primary-blue);
    color: white;
    border: 1px solid var(--primary-blue);
  }

  &__scrollable {
    display: flex;
    flex-direction: row;
    width: auto;
    overflow-x: auto;
    margin-top: 10px;
    overflow-y: hidden;
  }

  &__scrollable::-webkit-scrollbar {
    display: none;
  }

  &__scrollable_button {
    margin: auto;
    border-radius: 20px;
    white-space: nowrap;
    margin-right: 25px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-family: 'Montserrat-medium';
  }

  &__scrollable_button:hover {
    background-color: var(--primary-blue) !important;
    color: white !important;
  }

  &__formContainerOffline {
    width: 95%;
    margin: 30px auto;
  }

  input.formInput::placeholder {
    font-family: 'Montserrat-Regular';
  }
  @media screen and (max-width: 600px) {
    &__formContainerOffline {
      width: 88%;
    }
  }
}

.OFAssignments {
  position: fixed;
  margin-top: 60px;
  left: 0;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 70px) !important;
  background-color: white;
  overflow-y: scroll;
  box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 20px 20px 0 0;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 0.3s;
}

.OFAssignments::-webkit-scrollbar {
  display: none;
}

.horizontalLineOFA {
  background-color: white;
  padding: 15px auto !important;
  position: fixed;
  text-align: center;
  width: 95%;
  border-radius: 20px 20px 0 0;
  z-index: 90;
}

.cardContainer {
  border-radius: 10px;
}

.activeButtonOFA {
  background-color: var(--primary-blue);
  color: white;
  border: 1px solid var(--primary-blue);
}

.cardBody {
  margin-top: 20px;
  width: 100%;
}

.cardTitle {
  font-family: 'Montserrat-SemiBold';
  display: flex;
}

.mainFormPage {
  background-color: rgba(241, 249, 255, 1);
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.OFAFormContainer {
  width: 85%;
  border-radius: 10px;
  padding: 2px 10px;
  margin-top: 70px;
  height: fit-content;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.cardSubtitle {
  font-family: 'Montserrat-light';
  font-size: 12px;
}

.body1 {
  width: 75%;
}

.marks {
  color: #0896c194;
  font-size: 32px;
  font-family: 'Montserrat-Bold';
}

.small {
  font-size: 26px !important;
}

.OFAForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red; */
  /* background-color: aqua; */
}

.batch {
  margin: 10px auto;
  width: 95%;
}

.filterBtns {
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 100px;
  font-family: 'Montserrat-Regular';
  max-height: 35px;
  color: #707070;
  font-size: 14px;
  margin: 5px;
  min-width: fit-content;
  padding: 2px 7px;
}

.selectedBtns {
  background-color: white;
  outline: none;
  border: 1px solid transparent;
  border-radius: 100px;
  font-family: 'Montserrat-Regular';
  max-height: 35px;
  color: #000;
  font-size: 14px;
  margin: 5px;
  min-width: fit-content;
  padding: 2px 7px;
}

.batchesText {
  font-family: 'Montserrat-Regular';
  margin-left: 15px;
  color: #707070;
  font-size: 14px;
  margin-bottom: 0px;
}

.h_line1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #707070;
  width: 100%;
}

.h_line2 {
  border: 0;
  border-radius: 100px;
  height: 4px;
  width: 40%;
  margin-bottom: 24px;
  border-bottom: 1px dashed #ccc;
  background: #e5e5e5;
}

.resultsOFA {
  width: 100%;
  margin: auto;
  font-family: 'Montserrat-Medium';
}

.mainSection {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.scrollable_button {
  margin: auto;
  border-radius: 25px;
  white-space: nowrap;
  margin-right: 15px;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-family: 'Montserrat-medium';
}

.scrollable {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.selected_button {
  border-radius: 25px;
  margin-right: 15px;
}

.createdByTextOFA {
  font-family: 'Montserrat-Regular';
  font-size: 12px;
}

.batchesOFA {
  // display: inline;
  font-family: 'Montserrat-Regular';
  font-size: 12px;
}
.totalMarksTextOFA {
  font-size: 10px;
  font-family: 'Montserrat-Medium';
  min-width: 60px;
}

.titleTest {
  font-family: 'Montserrat-Medium' !important;
}

.grow1 {
  flex-grow: 1 !important;
}

.totalMarksTestCard {
  font-family: 'Montserrat-Medium';
  width: 100px !important;
  font-size: 12px;
}

.icon {
  margin-top: 18px;
  text-align: center;
  margin-right: 0px;
}

.grayText {
  color: darkgray !important;
}

.paddingAdjust {
  padding-left: 8px;
  text-align: start;
  padding-top: 4px;
}

.cardStudentMarksEdit {
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
}

.textMainTestCard,
.textMainTestCardp {
  font-family: 'Montserrat-Regular';
}

.marks {
  color: var(--lighter-blue);
  font-size: 38px;
  font-family: 'Montserrat-Bold';
}

.cardContainerOFA {
  height: 100%;
  display: flex !important;
  align-items: flex-start;
  width: 97% !important;
  text-align: start;
  margin: 6px auto !important;
  border-radius: 5px;
  padding: 5px;
}

.nameAndMarks {
  width: 98%;
}

.card-main {
  border: none;
  width: 95%;
  margin: auto;
}

.sms {
  color: var(--lighter-blue);
  margin-bottom: 10px;
  border-top: rgb(218, 207, 207) 1px solid;
  border-bottom: rgb(218, 207, 207) 1px solid;
}

.sms-txt {
  width: 94%;
  margin: 10px auto !important;
  font-family: 'Montserrat-Regular';
}

.color {
  color: rgb(30, 109, 136);
}

.txt {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

.input {
  margin-left: 110px;
}

.attemptNotAttemptContainer {
  width: 100%;
}

.totalMarksEditPageOFA {
  font-size: 16px !important;
  color: var(--primary-blue);
  text-align: right;
}

.markdata {
  color: var(--primary-blue) !important;
}

.exceedingMarksAlert {
  color: red;
  margin-bottom: 1px;
  font-size: 10px;
  width: 94%;
  text-align: right;
}

.button2 {
  width: 20%;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  color: var(--primary-blue);
  border-radius: 5px;
  background-color: white;
  border: 1.5px var(--primary-blue) solid;
}

.noBorder {
  border: transparent !important;
}

.input2 {
  width: 30%;
  border-radius: 5px;
  border-width: 1px;
  border: 1.5px solid rgb(218, 207, 207);
}

.body1 {
  flex-grow: 7 !important;
}

.NameAndProfileCardOFA {
  width: 95% !important;
  flex-direction: row !important;
}

.subjectMarks {
  color: var(--primary-blue);
}

.SubjectMarksContainer {
  display: flex !important;
  width: 95%;
  /* margin-right: 3%; */
  justify-content: space-between;
}

.marksForm {
  width: 95%;
}

.validationErrorOFAForm {
  color: red;
  font-size: 10px;
  font-family: 'Montserrat-Regular';
  margin-bottom: 0px;
}

.marginOnDesk {
  margin-top: -28px;
}

@media screen and (min-width: 600px) {
  .totalMarksTestCard {
    margin-bottom: 0px !important;
  }
  .marksForm {
    width: 93%;
  }
  .cardContainer {
    width: 85% !important;
    margin: auto;
  }
  .resultsOFA {
    width: 85%;
  }
  .mobilePadding0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .SubjectMarksContainer {
    margin: auto !important;
  }
}

/* media quiery  */
@media only screen and (max-width: 767px) {
  .sms-txt {
    width: 95%;
  }
  .marginOnDesk {
    margin-top: 0px;
  }
  .icon {
    margin-right: 15px;
  }
  .markdata {
    padding-top: 12px;
  }

  .notattempted {
    margin-left: 16px !important;
  }
  .sms {
    margin-bottom: 8px;
  }
  .sms-txt {
    margin-bottom: 9px !important;
  }

  .body1 {
    height: 100% !important;
    width: 100%;
    margin: 2px !important;
    flex-grow: 5 !important;
    padding: 2px !important;
  }
  .textMainTestCard {
    margin: 2px !important;
    margin-bottom: 2px;
    font-size: 12px;
    font-family: 'Montserrat-Regular' !important;
  }

  .textMainTestCardp {
    font-family: 'Montserrat-Regular' !important;
  }
  .titleTest {
    margin: 12px -1px;
    font-family: 'Montserrat-Bold' !important;
  }
  .inputbox {
    width: 51%;
  }
}

@media screen and (max-width: 600px) {
  .OFAFormContainer {
    width: 95%;
  }
}

@media only screen and (max-width: 1063px) {
  .markdata {
    padding-top: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .marksForm {
    width: 97%;
  }
  .button2 {
    width: 10%;
  }
}
