.VideoPlayer {
  @import '../../../scss/bootstrap';

  &__seek {
    color: var(--primary-blue);
  }

  &__wrapper {
    pointer-events: none;
  }
}
@media screen and (min-width: 800px) and (max-height: 1000px) {
  .plyrComponent__overall {
    margin: auto;
  }
}

.plyrComponent {
  height: 80vh !important;
  overflow: auto;
}

.plyrComponent__noteBelowVideo {
  font-family: 'Montserrat-Regular';
  font-size: 12px;
  // width: 97%;
  // margin: 2px auto;
  cursor: pointer;
}

.boldNote {
  font-family: 'Montserrat-Bold';
  color: var(--primary-blue);
}
