.Courses {
  @import '../../scss/bootstrap';

  &__heading {
    color: $headingGrey;
    line-height: $spacer * 1.25;
    font-family: $bold;
    font-size: 14px;
  }

  &__subHeading {
    font-family: 'Montserrat-Medium';
    line-height: 20px;
    color: $dashboardBlack;
    font-size: 0.85rem;
    letter-spacing: 0.24px;
  }

  &__courseCardHeading {
    font-size: 16px;
    font-family: 'Montserrat-SemiBold';
  }
  &__Price {
    font-size: 12px;
    font-family: 'Montserrat-Medium';
    color: black;
  }

  &__accordionHeading {
    border-radius: 5px;
    border: transparent;
    // border: 1px solid $dashboardGrey;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    font-family: $medium;
    font-size: $spacer * 0.875;
    line-height: $spacer * 1.25;
    background-color: rgba(243, 241, 241, 0.2);
    margin-bottom: 22px !important;
  }

  &__couponHeading {
    color: $dashboardBlack;
    font-family: $regular;
    font-size: $spacer * 0.75;
  }

  &__viewCourseImage {
    max-width: 100%;
    width: 95px;
    height: 61px;
    object-fit: cover;
    border-radius: 5px;

    @include media-breakpoint-up(md) {
      width: 150px;
      height: 80px;
    }
  }

  &__userProfileStats {
    max-width: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
    @include media-breakpoint-down(sm) {
      width: 60px;
      height: 60px;
    }

    &__moreVertModalBodydiv {
      font-family: 'Montserrat-Medium';
    }
  }

  // &__playerWrapper {
  //   position: relative;
  //   padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  // }

  // &__reactPlayer {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }

  &__coloredNumber {
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    font-size: $spacer;
    // width: $spacer * 1.45;
    // height: $spacer * 1.45;
    // text-align: center;
    // line-height: $spacer * 1.25;
    // border-radius: 0.5rem * 1.25; /* or 50% width & line-height */

    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 1px;

    background: #fff;
    text-align: center;
  }

  &__createCourse {
    font-family: $bold;
    line-height: 18px;
    color: $headingGrey;
    font-size: $spacer * 0.875;
  }

  &__chotiDetail {
    font-family: $regular;
    color: $lightGrey;
    line-height: 15px;
    font-size: $spacer * 0.75;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 0.875;
    }
  }

  &__motiDetail {
    font-family: $regular;
    font-size: $spacer * 0.875;
    line-height: 18px;
    color: $black;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 1;
    }
  }

  &__edit {
    position: absolute;
    top: 10px;
    right: 45px;
    width: 50px;
    border-radius: 20px 0 0 20px;
    background-color: $lightestBlue;
  }

  &__edit2 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $lightestBlue;
    width: 42px;
  }

  &__tinySubHeading {
    font-family: $regular;
    font-size: $spacer * 0.625;
    color: $lightGrey;
    line-height: 13px;
  }

  &__rupeeAmount {
    font-size: $spacer * 0.875;
    font-family: $regular;
    color: var(--primary-blue);
  }

  &__couponSmallColor {
    font-size: $spacer * 0.625;
    letter-spacing: 0.31px;
    color: var(--primary-blue);
  }

  &__slimButton {
    height: 20px;
    width: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    width: 90%;
    height: 100%;
    max-height: calc(100vh - 5rem);
    overflow-y: scroll;
    margin: auto;
    margin-top: 5rem;
    padding-left: 10%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  &__adminCardTime {
    font-size: $spacer * 0.875;
    font-family: 'Montserrat-Regular';
    color: $disabledGrey;
  }

  &__adminDuration {
    font-size: $spacer * 0.75;
    font-family: 'Montserrat-Medium';
    color: $dashboardGrey;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__adminHeading {
    font-family: 'Montserrat-SemiBold';
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__image {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  &__adminCard {
    border: 1px solid $disabledGrey;
    border-radius: 5px;
  }

  &__displayImage {
    width: 95px;
    height: 61px;

    @include media-breakpoint-up(sm) {
      width: 150px;
      height: 93px;
    }
  }

  &__buycourseContainer {
    width: 80%;
    margin: auto;
    height: calc(100vh - 75px);
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__adminDuration > span {
    color: var(--primary-blue);
  }

  &__addRegionalPriceButton {
    padding: 2px 12px;
    font-family: 'Montserrat-Regular';
    color: var(--primary-blue);
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 7px;
  }

  &__mycoursesvideoplayer {
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;

    background-color: black;

    @include media-breakpoint-up(sm) {
      width: 100%;
      // height: auto;
      height: 80vh;
    }
  }
  &__videoplayer {
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;

    background-color: black;

    @include media-breakpoint-up(sm) {
      width: 100%;
      // height: auto;
      height: 350px;
    }
  }
  &__lecturevideoplayer {
    width: 100%;
    display: content;
    // height: 30vh;
    background-color: black;

    @include media-breakpoint-up(sm) {
      // width: 100%;

      // height: auto;
      // display: contents;
      max-height: 80vh !important;
      overflow-x: hidden;
      width: auto;
    }
  }
  &__thumbnail {
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    // background-color: #000000;

    @include media-breakpoint-up(sm) {
      width: 100%;
      // height: auto;
      overflow: hidden;
      height: 350px;
    }
  }
  &__mycoursethumbnail {
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    // background-color: #000000;

    @include media-breakpoint-up(sm) {
      width: 100%;
      height: auto;
      overflow: hidden;
      max-height: 80vh;
    }
  }

  &__docOpener {
    height: auto;
    margin: 0px;
    text-align: center;
    position: relative;
    width: 100%;
    background-color: #000000;

    @include media-breakpoint-up(sm) {
      width: 100%;
      max-height: 80vh;
      height: auto;
      overflow: hidden;
    }
  }

  &__imageRow {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
  &__emoji {
    width: $spacer !important;
    height: $spacer !important;
    color: $dirtyYellow;

    @include media-breakpoint-down(sm) {
      width: 12px !important;
      height: 12px !important;
    }
  }

  &__teacherCourse {
    width: 75%;
    margin: auto;
    margin-top: 1rem;

    @include media-breakpoint-down(sm) {
      width: 95%;
    }
  }

  &__iconImage {
    text-align: center;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  &__createCourses {
    width: 75%;
    margin: auto;

    @include media-breakpoint-down(sm) {
      width: 90%;
    }
  }

  &__boldHeading {
    font-size: $spacer * 1;

    @include media-breakpoint-down(sm) {
      font-size: $spacer * 0.875;
    }
  }
  &__statisticsConatiner {
    width: 75%;
    margin: auto;
    margin-top: 5rem;

    @include media-breakpoint-down(sm) {
      width: 90%;
    }
  }
  &__statisticsImg {
    text-align: center;
  }

  &__Profile__Tabs {
    position: fixed;
    // box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.29) !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
  }

  &__Tabs {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.29) !important;
  }

  &__twoButtons {
    position: absolute;
    right: -35px;
  }
}

.Courses__mycourseContainer {
  width: 33vw;
  margin: auto;
  height: fit-content;
  height: calc(100vh - 0px);
}

@media screen and (max-width: 575px) {
  .Courses__mycourseContainer {
    width: 100%;
    height: calc(100vh - 75px);
  }
}

#idForScroll2,
#detailTab,
#ReviewTab {
  background-color: transparent;
}

#contentTab:hover {
  color: black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.playIconCourse {
  color: #ffffffb3 !important;
  font-size: 145px !important;
  position: relative !important;
  width: 30% !important;
  margin: auto !important;
  background-color: transparent !important;
  // margin-top: 50%;
  margin-left: -65% !important;
  cursor: pointer;
  z-index: 100;
}

.smallFont {
  font-size: 10px !important;
}

.regionalPriceFormInput {
  width: 15%;
  margin: 5px !important;
  min-width: 100px;
}

.alertTextRegionalPrice {
  color: red;
  margin: 0px;
  margin-left: 1px;
  font-family: 'Montserrat-Regular';
  font-size: 8px;
}

.playIconCourse:hover {
  color: #ffffffd0 !important;
}

.postBtnClr {
  background-color: var(--primary-blue);
}

.verySmallGrayText {
  font-size: 10px;
  color: #0000008a;
}

#idForScroll:hover {
  color: black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.addReviewsBigIcon {
  font-size: 4.2rem !important;
  color: #fbe244 !important;
}

@media screen and (max-width: 355px) {
  .addReviewsBigIcon {
    font-size: 3.2rem !important;
  }
}

.addReviewTextArea {
  width: 98%;
  margin: auto;
}

.addReviewTextArea:-ms-input-placeholder {
  color: gray !important;
}

#ReviewTab:hover {
  color: black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

#idForScroll2:hover {
  color: black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

#detailTab:hover {
  color: black;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.topMargin {
  margin-top: 50px !important;
}

.leftAlignText {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.courseNameContainer {
  width: 90% !important;
  margin: auto !important;
}

.verySmallText {
  font-size: 10px;
  font-family: 'Montserrat-Regular';
}

.w-90 {
  width: 90% !important;
}

.scrollableTabsForCourses .form-control::placeholder {
  color: rgb(182, 180, 180) !important;
  font-family: 'Montserrat-Medium';
  font-size: 14px;
}

.scrollableTabsForCourses .form-control {
  color: black !important;
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
}

.shareButtonForCourse {
  position: fixed;
  z-index: 999;
  top: 0px;
  right: 0%;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.16);
  border: transparent;
  border-radius: 0px 0px 0px 100px;
}

.shareButtonForbuyCourse {
  position: fixed;
  z-index: 999;
  top: 0px;
  right: 0%;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.16);
  border: transparent;
  border-radius: 0px 0px 0px 100px;
}

.backButtonForCoursesPage {
  background-color: rgba(0, 0, 0, 0.16);
  width: 68px;
  height: 52px;
  border: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 0px 0px 100px 0px;
}

.Scrollable__smallText {
  font-size: 12px;
}

#limited + label {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.38);
  line-height: 18px;
}

.dropShadowForHeader {
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.29);
  position: relative;
}

.buyCourseBtn {
  width: 95%;
}

@media screen and (max-width: 500px) {
  .buyCourseBtn {
    width: 90%;
  }
}

.Scrollable__courseCardSubHeading {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  margin: auto 0px;
}

.coursesHeadingContainer {
  position: absolute !important;
  left: 20px !important;
}

.individualVideoThumbnail {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 10px;
}

// .Courses__videoplayer .plyr--video {
//   width: 100%;
// }
// @media screen and (max-width: 585px) {
//   .Courses__lecturevideoplayer .plyr__video-embed iframe,
//   .Courses__lecturevideoplayer .plyr__video-wrapper--fixed-ratio video {
//     height: 350px !important;
//   }
// }

.scrollableContentOfCourses {
  display: flex;
  overflow-x: auto;
  // max-width: 200px;
  justify-content: flex-start;
  font-family: 'Montserrat-Bold';
  color: rgb(66, 66, 66);
}

.expiryText {
  color: darkred !important;
}

.scrollableContentOfCourses::-webkit-scrollbar {
  display: none;
}

.saveDelBtns {
  cursor: pointer;
}

.scrollableContentOfCourses_item {
  display: flex;
  margin: 10px 35px 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollableContentOfCourses_item p {
  margin: 0px;
}

#forever + label {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: var(--primary-blue);
  line-height: 18px;
}

.courseContentCardHeading {
  font-family: 'Montserrat-Bold';
}

#limitedNumber + label {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.38);
  line-height: 18px;
}

#unlimited + label {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: var(--primary-blue);
  line-height: 18px;
}

.react-thumbnail-generator > img {
  width: 95px;
  height: 60px;
  border-radius: 5px;
  display: none;
}

.ratingFilterButton {
  cursor: pointer;
  outline: none;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 100px;
  margin-right: 20px;
  padding: 0px 16px;
  height: 30px;
  color: gray;
  font-family: 'Montserrat-Regular';
}

.percentageValues {
  margin: 0px 15px;
  font-size: 10px;
  font-family: 'Montserrat-Regular';
  color: #0000008a;
}

// .blackButtonCourses button {
//   width: 100%;
//   color: white;
//   background-color: black !important;
//   outline: none;
//   border: transparent;
//   font-family: Montserrat-Regular;
//   font-size: 14px;
// }
.verySmallIcon {
  font-size: 10px !important;
  margin: 0px !important;
  margin-right: 7px !important;
  color: gray !important;
}

.previewVideoTextClass {
  color: white;
  margin: 0px;
  font-family: 'Montserrat-Light';
  font-size: 16px;
  position: relative;
  top: -35px;
  width: 90%;
  margin: auto;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.Courses__videoplayer svg {
  background-color: white;
}

.activeRatingFilter {
  background-color: gray;
  color: white;
}

.iconContainerForContents {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(243, 241, 241, 0.5);
}

.videoContainerForContents {
  object-fit: cover;
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 800px) and (max-height: 1000px) {
  .plyrComponent__myCourse {
    height: 90vh;

    margin: auto;
  }
}

.courseThumbnailImg {
  // max-height: 200px;
  text-align: center;
}

.courseDocumentOpenerImg {
  // max-height: 200px;
  width: 100%;
  text-align: center;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}

.scrollable {
  overflow-y: scroll;
}

.unscrollable {
  overflow-y: hidden;
}

.scrollableTabsForCourses::-webkit-scrollbar {
  display: none;
}

.Courses__moreVertModalBodydiv {
  font-family: 'Montserrat-Medium';
}

.TextOnImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  position: absolute;
  width: 100%;
  top: 40%;
}

.TextOnImage p {
  color: white;
  font-family: 'Montserrat-Bold';
  font-size: 18px;
}

.openDocumentBtn {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  outline: none;
  border-radius: 15px;
  color: white;
  font-family: 'Montserrat-Medium';
  cursor: pointer;
  padding: 6px 12px;
}

.reattempBtn {
  background-color: transparent;
  border: transparent;
  color: white;
  font-family: 'Montserrat-Bold';
  margin: 20px auto;
  outline: none;
}

@media screen and (min-width: 575px) {
  .courseNameContainer {
    width: 90% !important;
  }
  .Scrollable__bestSeller {
    font-size: 0.6rem;
  }
}

// mobile
@media screen and (max-width: 575px) {
  .Scrollable__courseCardSubHeading {
    width: 94%;
  }
  .Scrollable__bestSeller {
    font-size: 9px !important;
    width: 62px;
  }
  .unscrollableOnMobile {
    height: 100vh !important;
    // min-height: -webkit-fill-available;
  }
}

.nowPlayingText {
  margin: 0px auto;
  color: #4154cf;
  font-family: 'Montserrat-Bold';
  font-size: 10px;
}

.fgrow2 {
  flex-grow: 2;
  flex-basis: 0;
}

.fgrow1 {
  flex-grow: 1;
  flex-basis: 0;
}

.desktopContainerMyCource {
  display: block;
}

.validitySelectorDiv div {
  width: 45%;
  margin-right: 10px;
}
@media screen and (min-width: 575px) {
  .desktopContainerMyCource {
    display: flex;
  }
  .fgrow1 {
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.19) inset;
  }
  .shareButtonForCourse {
    right: 33.33%;
  }
}

.freeIcon {
  width: 34px;
  height: 20px;
  margin-bottom: 9px;
}

.textModal {
  font-family: 'Montserrat-Regular';
}
