.DashboardCards {
  @import '../../../scss/bootstrap';

  position: relative;
  width: 95%;
  border-radius: 10px;

  &__verticalDots {
    position: absolute;
    top: 15px;
    right: 5px;
  }
}
.DashboardCard_Image {
  text-align: right;
  padding-right: 30px;
}
.DashboardCard_heading {
  font-size: x-large;
  font-weight: 200;
}
