.Signin {
  @import '../../../scss/bootstrap';

  margin-top: 125px;

  @include media-breakpoint-up(lg) {
    margin-top: 100px;
  }

  &__jumbo {
    width: 50%;
    max-width: 200px;
    @include media-breakpoint-down(md) {
      width: 75%;
    }
  }

  &__footer {
    @include media-breakpoint-down(md) {
      margin-top: 30vh;
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 30px;
      width: 100%;
      height: 80px;
      padding-bottom: 30px;
    }
    text-align: center;
  }

  &__footerText {
    font-family: 'Montserrat-Regular';
    font-size: $spacer * 0.75;
    color: rgba($color: $black, $alpha: 0.6);
    line-height: 15px;
  }

  /************** Select User ******/

  &__selectUserHeading {
    font-family: $medium;
    font-family: $spacer * 1.25;
    line-height: $spacer * 1.5;
    letter-spacing: 0.26px;
    margin: 20px;
  }

  &__UserCard {
    width: 30%;
    @include media-breakpoint-down(xs) {
      width: 80%;
    }
  }
  &__UseRole {
    font-size: 8px !important;
    margin-top: 5px;
  }
}
.image {
  height: 38px;
  width: 38px;
}
.userName {
  font-size: 10px;
  font-family: 'Montserrat-medium';
}

.marginForSelectUserImgLogo {
  margin-top: 15px !important;
}

@media screen and (max-width: 600px) {
  .marginForSelectUserImgLogo {
    margin-top: 120px !important;
  }
}

@media screen and (min-width: 1440px) {
  .Signin__UserCard {
    width: 40%;
    height: 100px !important;
  }
  .Signin__selectUserHeading {
    font-size: 50px;
    margin: 50px !important;
    font-family: 'Montserrat-Medium' !important;
    letter-spacing: 1.26px !important;
  }
  .image {
    height: 50px;
    width: 50px;
  }
  .userName {
    font-size: 18px;
    font-family: 'Montserrat-medium' !important;
    height: 30px;
  }
}
