.NoticeBoard {
  @import '../../scss/bootstrap';

  &__input {
    text-align: end;
  }

  &__input > label {
    font-size: $spacer * 0.75;
    font-family: 'Montserrat-Medium';
    color: $lightGrey;
  }

  &__smsInfo {
    font-size: $spacer * 0.75;
    font-family: 'Montserrat-Medium';
    color: $lightGrey;
  }
}
.notice-text{
  font-size: initial;
}
.LiveClasses__Card{
 width: 80%;
}
// @media screen and (max-width:400px){
//   .notice-text{
//     font-size: 1rem;
//   }
// }