.Dashboard {
  @import '../../scss/bootstrap';

  background-color: $dashboardBackground;

  &__headerCard {
    // background: rgba(38, 153, 251, 0.7);
    background: var(--primary-blue);
    background: linear-gradient(180deg, var(--primary-blue) 0%, rgba(249, 253, 255, 0.7) 100%);

    @include media-breakpoint-up(sm) {
      height: 260px;
    }
  }

  &__profileImage {
    height: $spacer * 5;
    width: $spacer * 5;
    border-radius: 10px;
  }

  &__headingText {
    font-family: 'Montserrat-Regular';
    line-height: 29px;
    color: $headingGrey;
    padding-top: 0.875rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.75rem;
      padding-top: 1.25rem;
    }
  }

  &__todaysHits {
    width: 95%;
    height: 150px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
  }

  &__todaysHitsText {
    font-family: 'Montserrat-SemiBold';
    color: $headingGrey;
    line-height: $spacer * 1.25;
    font-size: x-large;

    @include media-breakpoint-down(md) {
      font-size: $spacer * 0.875;
    }
  }

  &__innovation {
    background: #fff4ec;
    border-radius: 10px;
    width: 93%;
    display: flex;

    @include media-breakpoint-down(sm) {
      width: 100%;
      display: block;
    }
    // background: linear-gradient(90deg, #fcf9f8, #fff4ec);
  }

  &__innovationh4 {
    font-family: 'Montserrat-Bold';
    line-height: $spacer * 1.8125;
    // color: var(--primary-blue);
    color: #fe979c;
  }

  &__innovationh4span {
    color: #3e3b6fde;
  }

  &__innovationp {
    font-size: $spacer;
    color: #575381;
    line-height: $spacer * 1.8;
    width: 60%;
    letter-spacing: 0.49px;
    font-family: 'Montserrat-SemiBold';
  }

  &__innovationpBlack {
    font-size: $spacer * 0.85;
    color: #000;
    letter-spacing: 0.49px;
    font-family: 'Montserrat-SemiBold';
  }

  &__scrollableCard {
    min-width: 100%;
    min-height: 76px;
    display: flex;
    overflow-x: auto;
  }

  &__scrollableCard::-webkit-scrollbar {
    display: none;
  }

  &__scrollableCard > div {
    min-width: 220px;
    margin: 5px;
    background: rgb(254, 255, 233);
    background: linear-gradient(90deg, rgba(254, 255, 233, 1) 0%, rgba(247, 255, 128, 1) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    border: 1px solid transparent;
    border-radius: 10px;
  }

  &__scrollableCard > div:first-child {
    background: rgb(241, 255, 230);
    background: linear-gradient(90deg, rgba(241, 255, 230, 1) 0%, rgba(181, 253, 127, 1) 100%);
  }

  &__scrollableCardHeading {
    font-size: $spacer * 1;
    color: $headingGrey;
    line-height: $spacer * 1.25;
    font-family: 'Montserrat-SemiBold';
    padding-bottom: 7px;

    @include media-breakpoint-down(md) {
      font-size: $spacer * 0.75;
      padding-bottom: 5px;
    }
  }

  &__scrollableCardText {
    font-size: $spacer * 0.625;
    font-family: 'Montserrat-Regular';
    color: $dashboardBlack;
  }

  &__attendanceCard {
    border-radius: 10px;
    border-left: 30px solid var(--lighter-blue);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    width: 95%;
  }

  &__attendanceSubHeading {
    font-family: 'Montserrat-Regular';
    line-height: 12px;
    color: $dashboardBlack;
  }

  &__attendanceRecents {
    font-size: $spacer * 0.625;
    font-family: $semiBold;
    color: $dashboardBlack;
    line-height: 13px;
    width: 95%;
  }

  &__noticeBoard {
    position: relative;
    width: 93%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    border-radius: 10px;

    @include media-breakpoint-down(sm) {
      width: 95%;
    }
  }

  &__verticalDots {
    position: absolute;
    top: 15px;
    right: 5px;
  }

  &__noticeBoardText {
    font-size: large;
    color: $dashboardBlack;
    font-family: 'Montserrat-Medium';

    @include media-breakpoint-down(md) {
      font-size: $spacer * 0.75;
      line-height: 15px;
    }
  }

  &__notice {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    // width: 100%;
    margin-bottom: 10px;
  }

  &__noticeImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  &__noticeSubHeading {
    font-size: $spacer * 0.825;
    font-family: 'Montserrat-Light';
    color: $headingGrey;
    line-height: 13px;

    @include media-breakpoint-down(sm) {
      font-size: $spacer * 0.625;
    }
  }

  &__noticeText {
    // background-color: #fff4a4;
    background-color: var(--primary-blue);
    font-family: 'Montserrat-Medium';
    font-size: $spacer * 0.75;
    color: $headingGrey;
    line-height: 15px;
    border-radius: 0 0 5px 5px;
    opacity: 0.75;
  }

  &__admissionsBlueText {
    color: var(--primary-blue);
    font-size: $spacer * 1.5;
    font-family: $bold;
    opacity: 0.5;
  }
  &_homeworkCreator {
    @include media-breakpoint-up(sm) {
      margin-left: 1%;
    }
  }

  &__attendanceLogo {
    width: 54px;
    @include media-breakpoint-up(sm) {
      width: 80px;
    }
  }

  &__admissionButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__NoticeIcon {
    width: 82px;
    height: 76px;
  }
}
.HWscrollableCard {
  background: linear-gradient(103deg, #ffefeb, #feae96) !important;
  border: 0px !important;
  margin-left: 0px !important;
  min-height: 85px;
}
.HWscrollableCard2 {
  background: linear-gradient(103deg, #f9efff, #705a7e) !important;
  border: 0px !important;
  min-height: 85px;
}

@media screen and (min-width: 600px) {
  .HWscrollableCard2 {
    margin-left: 0px !important;
  }
}

.react_chart {
  display: flex;
  width: 100%;
}
.noticeboard_img {
  text-align: right;
  padding-right: 40px;
  padding-left: 0px;
}
.noticeboard_heading {
  padding-top: 30px;
}
.admission_heroImage {
  width: 50%;
  margin: auto;
  text-align: center;
}

.admission_cards {
  width: 93%;
}

.admission_button {
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
  border: 1px solid #7070708a;
}

.Dashboard__attendanceSubHeading {
  font-size: 12px;
}

.floatingChatButtonDashboard {
  position: fixed;
  cursor: pointer;
  outline: none;
  background-color: var(--primary-blue);
  border-radius: 100px;
  color: white;
  bottom: 15px;
  right: 20px;
  padding: 12px 50px;
  border: transparent;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.46);
  z-index: 50;
}

.dotOnFloatingButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 55px;
  right: 26px;
  color: white;
  background-color: red;
  border-radius: 100px;
  width: 20px;
  min-width: fit-content;
  height: 20px;
  z-index: 60;
  font-family: 'Montserrat-Regular';
  font-size: 12px;
  padding: 3px;
}

.admission_charts {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.admission_charts::-webkit-scrollbar {
  display: none;
}

.savedSentCardImage {
  width: 50px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .floatingChatButtonDashboard {
    right: 14px;
  }
}

@media screen and (max-width: 700px) {
  .noticeboard_img {
    width: 100%;
  }
  .react_chart {
    width: 100%;
    margin: auto;
  }
  .admission_cards {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .react_chart {
    width: 100%;
    margin: auto;
  }
  .admission_cards {
    width: 100%;
  }

  .admission_button {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 450px) {
  .Dashboard__attendanceSubHeading {
    font-size: 12px;
  }
}

.dashboardLogoImage {
  display: block;
  margin: auto;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.admissionsSubHeading {
  font-size: 12px;
  font-family: 'Montserrat-Regular';
  width: 88%;
  margin-bottom: '18px';
}

.nameAndProfilePic {
  margin-left: 0px;
  margin-right: 0px;
  width: 95%;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.fillAdmissionFormButton {
  width: 30%;
  height: 40px !important;
  font-size: 15px !important;
  font-family: 'Montserrat-Regular';
}

.Dashboard_image {
  width: 92px;
  padding-right: 20px;
}

.scrollableCardHeading {
  width: 93%;
}

.aboutConnectContainer {
  width: 93%;
  margin: auto;
}

.addUserBatchContainer {
  display: flex;
  justify-content: flex-start;
}

.NumberOfUserContainer {
  width: 45%;
}

.chartContainer {
  width: 100% !important;
  border-radius: 10px !important;
  min-width: 260px !important;
}

.HWCdisplay {
  display: flex;
  flex-direction: column !important;
  margin: 14px 0px !important;
}

@media screen and (max-width: 600px) {
  .fillAdmissionFormButton {
    width: 53%;
  }
  .savedSentCardImage {
    width: 40px;
  }
  .HWCdisplay {
    flex-direction: row !important;
    margin: 5px 0px !important;
  }
  .chartContainer {
    width: 95% !important;
  }
  .addUserBatchContainer {
    justify-content: center;
  }
  .aboutConnectContainer {
    width: 95%;
  }
  .scrollableCardHeading {
    width: 95%;
  }
  .Dashboard_image {
    padding-right: 0px;
    width: 73px;
  }
  // .Dashboard__headerCard {
  //   margin-bottom: 60px;
  // }
  .zeroPaddingOnMobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .admission_charts {
    flex-direction: column;
  }
  .Dashboard__attendanceCard {
    width: 85%;
  }
  .admissionsSubHeading {
    width: 70%;
  }
}

// =============== very large screen
@media screen and (min-width: 1440px) {
  .Dashboard__headerCard {
    height: 315px;
  }
}
