.Dashboard {
  @import '../../scss/bootstrap';


  &__headerCard {
    // background: rgba(38, 153, 251, 0.7);
    background: var(--primary-blue);
    background: linear-gradient(180deg, var(--primary-blue) 0%, rgba(249, 253, 255, 0.7) 100%);

    @include media-breakpoint-up(sm) {
      height: 260px;
    }
  }

  &__mainContainerDiv {
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 3rem;
    }
  }

}
// we need media query for screens:
//1. greater than 1440px (min-width: 1440px) large laptop screens
//2. screens greater than 1700px (if necessary) (min-width: 1700px) 4k display and TV screens
//3. less than 600px (max-width: 600px) mobile phone devices
