.pageHeader {
  display: flex;
  width: 100%;
  height: 40vh;
  min-height: 200px;
  background-color: rgb(113, 170, 216);
  margin: auto;
  margin-top: 4rem;
  position: relative;
}
.pageHeaderDiv {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.pageHeader_h4 {
  margin: 10px 0px;
  font-family: 'Montserrat-SemiBold';
  font-weight: bolder;
}

.plageHeader_p {
  font-family: 'Montserrat-Regular';
}
.feature_icon {
  width: 20%;
  margin: 10px;
}

@media screen and (max-width: 700px) {
  .pageHeaderDiv {
    justify-content: center;
    flex-flow: column-reverse;
    margin: auto 0px;
    /* margin-bottom: 0px !important; */
    width: 100%;
  }
  .pageHeader {
    padding: 16px 24px;
    height: fit-content;
  }
  .feature_icon {
    width: 45%;
    margin: 10px;
  }
  .pageHeader_h4 {
    margin: auto 0px;
    width: 100%;
  }
}
