.LiveClasses {
  @import '../../scss/bootstrap';

  // background-color: var(--lightest-blue);
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;

  &__Card {
    width: 90%;

    @include media-breakpoint-up(md) {
      width: 75%;
    }
  }

  &__show {
    position: absolute;
    top: 10%;
    right: 3%;
    color: $disabledGrey;
  }

  &__adminHeading {
    font-family: 'Montserrat-SemiBold';
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__adminCard {
    border: 1px solid $disabledGrey;
    border-radius: 5px;
  }

  &__adminCardTime {
    font-size: $spacer * 0.875;
    font-family: 'Montserrat-Regular';
    color: $disabledGrey;
  }

  &__adminDuration {
    font-size: $spacer * 0.75;
    font-family: 'Montserrat-Regular';
    color: $dashboardGrey;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__adminDuration > span {
    color: var(--primary-blue);
  }

  &__adminBatches {
    font-size: $spacer * 0.75;
    font-family: 'Montserrat-Regular';
    color: $dashboardGrey;
    font-weight: 700;
  }

  &__adminBatches > span {
    font-size: $spacer * 0.875;
    color: $headingGrey;
  }

  &__passcode {
    font-family: $bold;
    font-size: 1.5rem;
  }
}

.typeCard {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .typeCard {
    width: 75%;
  }
}

.cardTextContainer {
  max-width: 65%;
}

.cardHeading {
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
}

.cardText {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .cardText {
    font-size: 11px;
  }
}
@media screen and (max-width: 1000px) {
  .cardText {
    font-size: 12px;
  }
}

.alphaColor {
  color: #23b0bb;
}

.betaColor {
  color: #6f9a19;
}

.zoomColor {
  color: #4a8cff;
}

.meetColor {
  color: #00ac47;
}

.youtubeColor {
  color: #fb0000;
}

.goLiveModal .modal-body {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnGoLive {
  width: 70%;
  padding: 12px 5px;
  border: 1px solid var(--primary-blue);
  background-color: var(--primary-blue);
  margin: 20px auto;
  font-family: 'Montserrat-Regular';
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: transparent;
  border-radius: 10px;
}

.bg-white {
  background-color: white !important;
  border: 1px solid var(--primary-blue);
  color: black;
  padding: 12px 5px !important;
}

.margin-8 {
  margin: 14px auto !important;
}

.margin-18 {
  margin: 25px auto !important;
}

.margin-8 span {
  z-index: 1;
}

.margin-18 span {
  z-index: 1;
}

.blackBackground {
  background-color: black !important;
  color: white !important;
  font-family: 'Montserrat-Regular' !important;
}
.container_modalForm .react-datepicker-wrapper {
  width: 100%;
}

.scheduleButton {
  background-color: transparent;
  border: transparent;
  outline: none;
  font-family: 'Montserrat-Medium';
  color: var(--primary-blue);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 14px auto;
}

.scheduleCard {
  background-color: #ff000012;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 85%;
  margin: 20px auto;
  overflow: hidden;
  padding: 20px;
}

.scheduleCardLeft {
  flex-grow: 3;
}

.scheduleCardRight {
  flex-grow: 1;
}

.redTag {
  background-color: red;
  border-radius: 5px;
  padding: 3px 17px;
  color: white;
}

.scheduleCardHeading {
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  margin-bottom: 6px;
}

.scheduleCardText {
  font-family: 'Montserrat-Regular';
  font-size: 12px;
  margin: 1px 0px;
}

.scheduleCardSmallText {
  font-family: 'Montserrat-Regular';
  font-size: 10px;
  margin: 1px 0px;
  width: 80%;
}

.deleteContainer {
  border: transparent;
  border-radius: 100px;
  margin: 0px;
  margin-top: 20px;
  background-color: #ff00008a;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 35px;
  height: 35px;
}

.teacherImage {
  width: 83px;
  position: relative;
  left: 20px;
}

.startNowButton {
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  color: black;
  font-family: 'Montserrat-Medium';
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.goLiveModal .modal-header {
  padding-bottom: 0px;
  border-bottom: transparent;
}

@media screen and (max-width: 700px) {
  .scheduleCard {
    width: 95%;
  }
}
