// * {
//   font-family: 'Montserrat-Regular';
// }
.AttendanceLiveClasses {
  @import '../../scss/bootstrap';

  &__cardContainer {
    width: 100%;
    margin: auto;
    margin-top: 8px;
    border-radius: 10px;
  }

  &__cardBody {
    width: 95%;
  }

  &__cardTitle {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
  }

  &__streamedIn {
    font-size: 15px;
    font-family: 'Montserrat-SemiBold';
    margin-top: 15px;
  }

  &__type {
    font-size: 15px;
    font-family: 'Montserrat-SemiBold';
  }

  &__body1 {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 1rem !important;
  }

  &__alpha {
    color: rgb(59, 133, 178);
    font-family: 'Montserrat-Bold';
  }

  // analysis

  &__img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
  }

  &__main {
    margin-top: 70px;
  }

  &__noItemText {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__analysisMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
