.heading_image {
  width: 120px;
  height: 125px;
}
.profile_image {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: relative;
}

@media screen and (min-width: 1500px) {
  .formInput {
    padding: 25px 25px;
    font-size: 22px !important;
  }
  .heading_image {
    width: 250px;
    height: 180px;
  }
  .palceholder_text {
    font-size: 18px !important;
  }
  .profile_image {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    position: relative;
  }
}
