.StudyBin {
  @import '../../scss/bootstrap';

  &__heading {
    font-size: $spacer * 0.75;
    color: $lightGrey;
    font-family: 'Montserrat-Medium';

    @include media-breakpoint-up(md) {
      font-size: $spacer * 1.25;
    }
  }

  &__box {
    border: 1px solid $dashboardGreyLight;
    border-radius: 5px;
  }

  &__folderName {
    font-family: 'Montserrat-Regular';
    font-size: $spacer * 0.75;
    color: $headingGrey;
    line-height: 15px;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 1.25;
    }
  }

  &__verticalDots {
    position: absolute;
    top: 10px;
    right: 5px;

    @include media-breakpoint-down(sm) {
      top: 5px;
      right: 1px;
    }
  }

  &__categoryText {
    font-size: $spacer * 0.875;
    line-height: 20px;
    font-family: $semiBold;
    color: $headingGrey;

    @include media-breakpoint-down(md) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.folder_icon {
  height: 67px;
  width: 67px;
}
.container_studybin {
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}
.container_studybin::after {
  content: '';
  flex: 0 0 26%;
}
.alertModalToCopyAndMove {
  position: fixed;
  z-index: 99;
  bottom: 5px;
  left: 13%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .alertModalToCopyAndMove {
    position: fixed;
    z-index: 99;
    bottom: 5px;
    left: 10%;
    width: 80%;
  }
}
.alertModalToPaste {
  position: fixed;
  z-index: 999;
  top: 10px;
  left: 40%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .alertModalToPaste {
    left: 15%;
    width: 70%;
  }
}
