.btn-customPrimary {
  background-color: var(--primary-blue, rgba(38, 153, 251, 1));
  color: #fff;
  font-family: 'Montserrat-Regular';
  border-radius: 50px;
  padding-left: 24px;
  padding-right: 24px;
}

.btn-customLightBlue {
  background-color: var(--lighter-blue);
  color: #fff;
  font-family: 'Montserrat-Regular';
  border-radius: 50px;
}

.btn-customSkip {
  font-family: 'Montserrat-Regular';
  color: #fff;
  border-radius: 50px;
  background-color: #000;
  opacity: 0.5;
  height: 32px;
  font-size: 12px;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 992px) {
  .btn-customSkip {
    height: 40px;
    font-size: 18px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

.btn-dashboardBlueOnWhite {
  border-radius: 5px;
  background-color: #fff;
  color: var(--lighter-blue, rgba(127, 196, 253, 1));
  font-family: 'Montserrat-Medium';
  font-size: 18px;
  line-height: 22px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  height: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-dashboardBlueOnWhite:focus {
  color: var(--lighter-blue);
}

.btn-noticeBoardPost {
  border-radius: 50px;
  border: 0.1px solid #707070;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  height: 36px;
}

.btn-dynamicOutline {
  border-radius: 5px;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  height: 32px;
  width: 32px;
  padding: 0;
}

.btn-unfocusedOutline {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  color: rgba(0, 0, 0, 0.54);
  height: 32px;
  width: 32px;
  padding: 0;
}

.btn-liveClasses {
  background-color: #fff;
  color: var(--primary-blue);
  border-radius: 50px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
}
