button {
  box-shadow: none !important;
}

.btn-customPrimary {
  background-color: var(--primary-blue, rgba(38, 153, 251, 1));
  color: #fff;
  font-family: 'Montserrat-Regular';
  border-radius: 50px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
