.pickerContainer {
  justify-content: space-evenly;
  width: 75%;
  margin: 10px auto;
  display: flex;
  font-family: 'Montserrat-Bold';
  align-items: center;
}
.pickerContainer div,
.pickerContainer label {
  font-family: 'Montserrat-Bold';
}
