.Welcome {
  @import '../../../scss/bootstrap';

  &__skip {
    position: absolute;
    top: 5px;
    right: 2px;
    z-index: 10;
  }

  &__carouselPosition {
    position: relative;
    margin-bottom: $spacer * 6;
  }

  &__imageCarousel {
    @include media-breakpoint-up(lg) {
      height: 50vh;
    }
  }

  &__Carousel {
    @include media-breakpoint-up(lg) {
      height: 50vh;
    }
  }

  &__features {
    position: absolute;
    z-index: 10;
    bottom: -40px;
    width: 100%;
  }

  &__featuresRow {
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: $white;

    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }

  &__featuresColumn {
    font-family: 'Montserrat-Regular';
    color: $lightGrey;
    font-size: $spacer * 0.75;

    @include media-breakpoint-up(md) {
      font-size: $spacer;
    }
  }

  &__resultHeading {
    color: $lightGrey;
    font-family: 'Montserrat-Regular';
    font-size: $spacer;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 1.5;
    }
  }

  &__resultSubHeading {
    color: $headingGrey;
    font-family: 'Montserrat-Regular';
    font-size: $spacer;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      font-size: $spacer * 1.5;
    }
  }

  &__imageGrid {
    display: grid;

    /* For 2 columns */
    grid-template-columns: auto auto;
  }

  &__batch {
    @include media-breakpoint-up(lg) {
      margin-top: 600px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 750px;
    }
  }

  &__batchRow {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 1)),
      color-stop(47%, rgba(246, 246, 246, 1)),
      color-stop(100%, rgba(237, 237, 237, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 246, 246, 1) 47%,
      rgba(237, 237, 237, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  }

  &__batchCard {
    width: 90%;
  }

  &__testimonialText {
    font-family: 'Montserrat-Regular';
  }

  &__testimonialImage {
    height: 30px;
    width: 30px !important;
    border-radius: 50%;
  }

  &__directorImage {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  &__signInButton {
    background-color: var(--superlight-blue);
  }

  /*************New Carousel Styles****************/

  &__carouselSubHeading {
    font-family: $medium;
    line-height: 24px;
    color: var(--primary-blue);
    margin-top: $spacer * 6;
  }

  &__carouselHeading {
    font-family: $extraBold;
    line-height: 29px;
    color: var(--primary-blue);
  }

  &__carouselText {
    font-size: $spacer * 1.25;
    line-height: 24px;
    font-family: $medium;
    color: $black;
  }
}

.carousel .slide {
  background: transparent !important;
  padding-bottom: 10px;
}

.swiper-container {
  padding-bottom: 2rem !important;
}

.swiper-pagination-bullet {
  color: #787878 !important;
  background-color: #787878 !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.mySwiper > .swiper-pagination > .swiper-pagination-bullet-active {
  width: 40px;
  background-color: #000 !important;
  border-radius: 50px;
  animation-duration: 1s;
  animation-name: slidein;
}

.mySwiper {
  margin-top: 2rem;
}

@keyframes slidein {
  0% {
    width: 8px;
  }
  100% {
    width: 40px;
  }
}
