.sliderClassesForZoom {
  height: '10%' !important;
  display: 'flex' !important;
  align-items: 'center' !important;
  margin: 'auto' !important;
  width: '60%' !important;
}
@media screen and (max-width: 800px) {
  .sliderClassesForZoom {
    display: none;
  }
}

.desktoppdf {
  color: black;
}

.mobilepdf {
  color: black;
}

@media screen and (max-width: 550px) {
  /* .mobilepdf {
    display: none;
  } */
  .desktoppdf {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .mobilepdf {
    display: none;
  }
  /* .desktoppdf {
    display: none;
  } */
}